/* CSS Document */

/*
	Begin Small Display..
*/

#theOverlay{
	position:relative; background:transparent(#DAFFD1);
	min-width:260px;
	width:100%; height:100%; display:none; font-family:Tahoma, Verdana, 'Lucida Console'; font-size:12px; color:#006600;
}

.block{
	padding:5px;
	border:1px solid #333333;
	background:#E6EDD2;
	height:30px;
}

.rightBda {
	border-right:1px dotted #666666;
}

.Angle90{
	border-right:1px dotted #666666;
	border-bottom:1px dotted #666666;
}

#Cart_Container_DetailView{ 
	width:600px;
	position:relative;
	float:left;
	height:auto;
	font-family:"Lucida Grande",Verdana,Arial,Tahoma,sans-serif;
	font-size:11px;
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
}

.Error{
	width:80%;
	background-color:#FFFF99;
	color:#FF0000;
	font-size:12px;
	line-height:20px;
	text-align:center;
	border:1px solid #ff0000;
	padding:auto;
	font-family:"Lucida Grande",Verdana,Arial,Tahoma,sans-serif;
}

#insideContMainArea2{
	position:relative;
	margin-top:3px;
	width:100%;
	height:auto;
}

#Cart_Container{ /*Small View  */
min-width:250px;
	width:250px;
	position:relative;
	float:left;
	height:auto;
	font-family:"Lucida Grande",Verdana,Arial,Tahoma,sans-serif;
	font-size:11px;
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
}

/*
	Top Contents here..
*/

#Car_top_bg {
	width:100%;
	height:36px;
	border-bottom:1px solid #999999;
	background:url(imgs/top_bg.gif);
	background-position:center;
	background-repeat:no-repeat;
}

/*
	Top Content ends here..
	Now.. the middle..
*/


#Cart_middle{ /* Normal Cart Display..2 products only */
	max-width:100%px;
	width:100%;
	height:205px;
	max-height:200px;
	overflow:hidden;
	font-family:"Lucida Grande",Verdana,Arial,Tahoma,sans-serif;
	color:#000000;
}

#Cart_middle2{ /* Empty Cart.. */
	max-width:100%px;
	width:100%;
	height:auto;
	overflow:hidden;
	font-family:"Lucida Grande",Verdana,Arial,Tahoma,sans-serif;
	color:#000000;
}
.insideContQty {
	padding:5px;
	border-bottom:1px dotted #999999;
	text-align:center;
}

.insideContEmpty{
	margin-top:30px;
	margin-bottom:30px;
	background-image:url(imgs/shoppingcart_empty.png);
	height:132px;
	background-position:center;
	background-repeat:no-repeat;
}

.clear{
	border-top:1px dotted #CCCCCC;
	height:5px;
}
.underlineMe {
	border-bottom:1px dotted #CCCCCC;
	height:18px;
}

#insideContMainArea{
	position:relative;
	margin-top:3px;
	width:98%;
	padding:1%;
	overflow:hidden;
	height:auto;
}

#Cart_middle3{ /* Cart Item Overflow.... */
	max-width:100%px;
	width:100%;
	height:auto;
	font-family:"Lucida Grande",Verdana,Arial,Tahoma,sans-serif;
	color:#000000;
}

.cartOvaHover{
	background-color:#DAFFDA;
}

	
#insideContMainArea2{ /* For the Overflow Products..*/
	position:relative;
	margin-top:3px;
	width:98%;
	padding:1%;
	overflow:scroll;
	height:175px;
}

/*
	Middle Content ends here..
	The bottom definitions..
*/

#Cart_gtotal {
	position:relative;
	width:100%;
	line-height:22px;
	font-family:"Lucida Grande",Verdana,Arial,Tahoma,sans-serif;
	font-weight:bold;
	color:#000000;
	text-align:right;
	border-top: 1px dotted #666666;
	
}

#Cart_gtotal .theCont {
	padding: 2px 5px 0px 5px;
	width:93%;
	height:18px;
}

/*
	End Small Display..
*/